<% layout("layouts/boilerplate") %>
<body>
  <h1>All Listings</h1>
  <p>Welcome to StayHub! Here are all the available listings:</p>
  <!--   <form action="/listings/new" method="get">
    <button type="submit">Create New Listing</button>
  </form> -->
  <br />
  <ul>
    <% alllistings.forEach(function(listing) { %>
    <li>
      <h2><a href="/listings/<%= listing._id %>"><%= listing.title %></a></h2>
      <p><%= listing.description %></p>
      <p>Price: $<%= listing.price.toLocaleString("en-IN") %></p>
      <p>Location: <%= listing.location %></p>
      <img src="<%= listing.images %>" alt="<%= listing.title %>" />
    </li>
    <% }); %>
  </ul>
</body>
